.main {
    @media (max-width: 991px){
        margin-left: 10vw;
        display: block;
    }

    margin-left: 20vw;

    display: flex;
}

.image {
    @media (max-width: 991px){
        height: 80vw;
        width: 80vw;

        margin-right: 0;
    }

    margin-top: 1vh;
    margin-right: 5vw;

    height: 35vh;
    width: 30vw;

    border-radius: 1.5vw;
}

.text {
    @media (max-width: 991px){
        margin-right: 0;
        width: 80vw;
    }

    margin-right: 5vw;
}

.text-h1 {
    @media (max-width: 991px){
        margin-top: 5vh;

        font-size: 4vh;
    }

    margin-top: 0;
    font-size: 4vh;
}

.text-h2 {
    @media (max-width: 991px){
        font-size: 17pt;
        font-weight: bold;
        padding-bottom: 1vh;
    }

    font-weight: normal;
    font-size: 2.5vh;
}

.text-p {
    @media (max-width: 991px){
        width: 80vw;
        font-size: 16pt;
        line-height: 25pt;
    }

    width: 30vw;

    font-size: 1.7vh;
    line-height: 2.7vh;
    color: #303030;
}

.text-ul {
    padding-left: 2vw;
}

.text-li {
    @media (max-width: 991px){
        width: 80vw;

        font-size: 14pt;

        padding-top: 0vh;
        padding-bottom: 1.5vh;
    }

    padding-top: 1.5vh;
    font-size: 1.7vh;
    color: #303030;
}
