.main {
    @media (max-width: 991px){
        margin-left: 15vw;
        display: block;
    }

    margin-left: 20vw;

    display: flex;
}

.image {
    @media (max-width: 991px){
        height: 70vw;
        width: 70vw;

        margin-right: 0;
    }

    margin-top: 1vh;
    margin-right: 5vw;

    height: 35vh;
    width: 30vw;

    border-radius: 1.5vw;
}

.text {
    @media (max-width: 991px){
        margin-right: 0;
        width: 70vw;
    }

    margin-right: 5vw;
}

.text-h1 {
    @media (max-width: 991px){
        margin-top: 5vh;

        font-size: 3vh;
    }

    margin-top: 0;
    font-size: 4vh;
}

.text-h2 {
    @media (max-width: 991px){
        font-size: 1.1vh;
        font-weight: bold;
        padding-bottom: 1vh;
    }

    font-weight: normal;
    font-size: 2.5vh;
}

.text-p {
    @media (max-width: 991px){
        width: 70vw;

        font-size: 0.8vh;
    }

    width: 30vw;

    font-size: 1.7vh;
    line-height: 2.7vh;
    color: #303030;
}

.text-ul {
    list-style-type: none;
    padding-left: 0;
}

.text-li {
    @media (max-width: 991px){
        width: 70vw;

        font-size: 0.8vh;

        padding-top: 0vh;
        padding-bottom: 1.5vh;
    }

    padding-top: 1.5vh;
    font-size: 1.7vh;
    color: #303030;
}
