.faq {
    display: flex;

    background-color: #202224;
}

.faq-list {
    @media (max-width: 991px){
        margin-left: 15vw;
        display: block;
    }

    padding-top: 15vh;
    padding-bottom: 15vh;
    margin-top: 10vh;
    margin-bottom: 10vh;
    margin-left: 20vw;

    display: block;
}

.line {
    @media (max-width: 991px){
        width: 70vw;
        text-align: center;
        margin-left: 0;
    }

    margin-bottom: 2.5vh;
    width: 60vw;
}

.Q {
    @media (max-width: 991px){
        font-size: 1.2vw;
    }

    margin-bottom: 2vh;

    font-size: 1.5vw;
    color: white;
}

.A {
    @media (max-width: 991px){
        width: 70vw;
        font-size: 2vw;
    }

    margin-bottom: 2.5vh;

    font-size: 1vw;
    color: white;
}
