body {
    background-color: black;
    background-size: 100% 100%;
    background-repeat: no-repeat;

    font-family: Arial, Dotum, "돋움";

    margin-left: 0;
    margin-right: 0;
}

#main {
}

.page {
    background-size: 100% 100%;
    background-repeat: no-repeat;

    margin: 0;

    width: 100vw;
    height: 100vh;
}

#p0 {
    background-image: url("/static/img/mobile/0.jpg");
}

#p1 {
    background-image: url("/static/img/mobile/1.jpg");
}

#p2 {
    background-image: url("/static/img/mobile/2.jpg");
}

#go {
    margin-top: 52vh;
    margin-bottom: 0vh;
    margin-left: 12vw;

    height: 5vh;
    width: 76vw;

    border: 0.2vh solid white;
    outline:none;
    box-shadow:none;
    background-color: transparent;

    color: white;
    font-size: 1.5vh;
}

#tmpf {
    margin-top: 87vh;
    margin-left: 25vw;
}
